*{
    box-sizing:border-box;
    font-family:'Baloo 2', cursive;
}

body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
}

.screen{
    width:360px;
    height:640px;
    background:linear-gradient(#a9e68f,#2f6f4f);
    border-radius:30px;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo{
    width:60px;
    height:60px;
    border-radius:15px;
    background:#baf5a2;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    margin-top:10px;
}

.content{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.small{
    margin:0;
    font-size:18px;
    color:#0f4f3b;
}

h1{
    margin:10px 0 40px;
    font-size:36px;
    color:#124f2f;
}

.btn{
    width:220px;
    padding:16px;
    margin:12px 0;
    font-size:20px;
    border-radius:14px;
    border:2px solid #123c2b;
    background:#9ac7a6;
    cursor:pointer;
}

.google{
    width:180px;
    padding:12px;
    margin-top:25px;
    border-radius:12px;
    border:2px solid #123c2b;
    background:#9ac7a6;
    font-size:14px;
    cursor:pointer;
}

