body{
  margin:0;
  height:100vh;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Arial, sans-serif;
}

.phone{
  background:black;
  padding:10px;
  border-radius:40px;
}

.card{
  width:340px;
  height:650px;
  background:#9fd58a;
  border-radius:30px;
  padding:25px;
  box-sizing:border-box;
}

h1{
  color:#0077ff;
  font-size:28px;
  margin-bottom:25px;
}

label{
  color:#004c3f;
  font-size:14px;
}

input[type="text"], input[type="password"]{
  width:100%;
  padding:12px;
  margin:8px 0 18px;
  border-radius:12px;
  border:2px solid #6fb7a2;
  background:#b6e4a3;
  outline:none;
}

.terms-title{
  color:#004c3f;
  font-size:14px;
  margin-bottom:8px;
}

.terms-box{
  background:#5fa38a;
  padding:15px;
  border-radius:15px;
  margin-bottom:25px;
}

.checkbox{
  display:flex;
  gap:10px;
  color:white;
  font-size:14px;
}

.feel{
  color:#004c3f;
  font-size:14px;
  margin-bottom:10px;
}

.moods{
  display:flex;
  justify-content:space-between;
  margin-bottom:30px;
}

.mood{
  width:50px;
  height:70px;
  background:#7dbd9a;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:28px;
  cursor:pointer;
  transition:0.2s;
}

.mood:hover{
  transform:scale(1.05);
}

.mood.active{
  background:#00ffb3;
  box-shadow:0 0 10px #00ffb3;
}

button{
  width:100%;
  padding:15px;
  border-radius:25px;
  border:none;
  background:#b6f39b;
  font-size:16px;
  color:#008060;
  cursor:pointer;
}
